.shop-bg-image img {
    width: 100%;
}

@media (max-width:991px) {
    .shop-bg-image img {
        width: 100%;
    }
}

@media (max-width:765px) {
    .shop-bg-image{
        margin-bottom: 50px;
        margin-top: 100px;
    }
}